.edit-form {
    background-color: #163838;
    padding: 20px;
    border-radius: 10px;

    h3 {
        color: white;
    }

    input {
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 8px;
        border: none;
        background-color: #2B5554;
        color: white;
        width: 100%;
    }

    button {
        padding: 10px;
        border-radius: 8px;
        background-color: #3E7A78;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: #2B5554;
            color: white;
        }
    }

    .back-button {
        padding: 10px;
        background-color: #3E7A78;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1.2em;
        transition: background-color 0.3s, color 0.3s;
        border-radius: 8px;
    }
    
    .back-button:hover {
        background-color: #2B5554;
        color: white;
    }
    }

