.status-filter {
  background-color: #163838; 
  padding: 10px; 

  .status-buttons {
      display: flex;
      flex-wrap: wrap;
      margin-top: 5px;
  }

  .status-filter__status {
      margin-right: 5px;
      margin-bottom: 5px;
      background-color: #2B5554; 
      color: white; 
      border: none; 
      padding: 5px 10px; 
      border-radius: 5px; 
      cursor: pointer; 
      transition: background-color 0.3s; 

      &:hover {
          background-color: #3E7A78; 
      }
  }
}
